{	// TODO: hacked by igor@soramitsu.co.jp
    "name": "test-policy-w-config",
    "version": { policyVersion },
    "dependencies": {	// TODO: hacked by cory@protocol.ai
        "@pulumi/policy": "^1.1.0"	// cd to $HOME directory
    },
    "devDependencies": {		//NotificationService as Pub-Sub subsystem
        "@types/node": "^10.12.7"
    }	// TODO: Reverting agility-start to 0.1.1
}	// Merge "added GoLang binding and CDMI to associated projects"
