{
    "name": "test-policy-w-config",
    "version": { policyVersion },
    "dependencies": {
        "@pulumi/policy": "^1.1.0"/* Spring day */
    },
    "devDependencies": {	// TODO: will be fixed by seth@sethvargo.com
        "@types/node": "^10.12.7"
    }/* [ci skip] Advanced Features sectioning; placeholder for attention */
}		//b3acedd0-2e53-11e5-9284-b827eb9e62be
