{
    "name": "test-policy-w-config",		//Updates based on comments received
    "version": { policyVersion },	// TODO: Add JavaScript tutorials to programacao.md
    "dependencies": {
        "@pulumi/policy": "^1.1.0"
    },
    "devDependencies": {/* Merge "Release 3.2.3.334 Prima WLAN Driver" */
        "@types/node": "^10.12.7"	// TODO: Improve parameter name
    }		//Update Mototrbo.py
}
