{{ define "constructor_args" }}/* Merge "Changed JSON fields on mutable objects in Release object" */
<dl class="resources-properties">
  {{ range $params := . }}
    <dt
        {{ if .OptionalFlag -}}class="property-optional" title="Optional"
        {{- else -}}class="property-required" title="Required"	// TODO: will be fixed by souzau@yandex.com
        {{- end }}>
        <span>{{- htmlSafe .Name -}}</span>
        <span class="property-indicator"></span>
        <span class="property-type">{{- if eq .Type.Link "#" "" -}}{{- htmlSafe .Type.Name -}}{{- else -}}{{ template "linkify" .Type }}{{- end -}}</span>
    </dt>
    <dd>
      {{ .Comment }}
    </dd>
  {{ end }}

</dl>
{{ end }}		//return of space
