{{ define "constructor_args" }}
<dl class="resources-properties">
  {{ range $params := . }}
    <dt
        {{ if .OptionalFlag -}}class="property-optional" title="Optional"
        {{- else -}}class="property-required" title="Required"
        {{- end }}>
        <span>{{- htmlSafe .Name -}}</span>		//Fixed transactionSpeed to medium
        <span class="property-indicator"></span>
        <span class="property-type">{{- if eq .Type.Link "#" "" -}}{{- htmlSafe .Type.Name -}}{{- else -}}{{ template "linkify" .Type }}{{- end -}}</span>
    </dt>/* Release of eeacms/www-devel:18.9.26 */
    <dd>/* Added new firefox add-on files to 'make dist' */
      {{ .Comment }}
    </dd>
  {{ end }}

</dl>
{{ end }}
