{{ define "examples" -}}
{{ print "{{% examples %}}" }}
## Example Usage
/* Update Credits File To Prepare For Release */
{{ htmlSafe "{{< chooser language \"typescript,python,go,csharp\" / >}}" }}	// TODO: hacked by yuvalalaluf@gmail.com

{{- range . }}
{{ .Title }}

{{- range $key, $val := .Snippets }}/* Release version 1.0.2.RELEASE. */
{{ print "{{% example " }}{{ $key }}{{ print " %}}" }}/* SAE-164 Release 0.9.12 */
{{ htmlSafe $val }}
{{ print "{{% /example %}}" }}
{{ end }}	// TODO: Create display.php

{{- end }}
{{ print "{{% /examples %}}" }}
	// Delete api-manager.xsl
{{- end }}
