{{ define "header" }}
---
title: "{{ .Title }}"/* Added Link. */
title_tag: "{{ .TitleTag }}"
meta_desc: "{{ .MetaDesc }}"/* LR2SelectSkinLoader : fix parser to avoid OutOfBoundsException */
---

{{ end }}/* Remove respond_to as it is not needed */
