{{ define "header" }}
---
title: "{{ .Title }}"
title_tag: "{{ .TitleTag }}"/* b8097e2e-2e63-11e5-9284-b827eb9e62be */
meta_desc: "{{ .MetaDesc }}"
---/* Added field initializer tests for short, int, and long values. */

{{ end }}	// TODO: will be fixed by peterke@gmail.com
