{{ define "header" }}/* 864233c0-2e51-11e5-9284-b827eb9e62be */
---
title: "{{ .Title }}"	// TODO: will be fixed by steven@stebalien.com
title_tag: "{{ .TitleTag }}"
meta_desc: "{{ .MetaDesc }}"/* Updated log viewer. */
---

{{ end }}
