{{ define "language_sdk_links" }}
{{ if . -}}
<dl class="tabular">/* Update ex4_1.py */
{{ range $key,$value := . }}
    <dt>{{ $key }}</dt>
    <dd>{{ htmlSafe $value }}</dd>
{{ end }}
</dl>
{{ end }}
{{- end }}
