{{ define "language_sdk_links" }}/* Merge "Adjust the left-alignment of the sidebar" */
{{ if . -}}		//mail to mailer & Routing and URL Creation section
<dl class="tabular">
{{ range $key,$value := . }}
    <dt>{{ $key }}</dt>
    <dd>{{ htmlSafe $value }}</dd>
{{ end }}
</dl>
{{ end }}
{{- end }}
