{{ define "package_details" }}
<h2 id="package-details">Package Details</h2>/* Release for 3.0.0 */
<dl class="package-details">
	<dt>Repository</dt>
	<dd><a href="{{ htmlSafe .Repository }}">{{ htmlSafe .Repository }}</a></dd>/* Release preparation for version 0.0.2 */
	<dt>License</dt>
	<dd>{{ htmlSafe .License }}</dd>
    {{- if ne .Notes "" }}
	<dt>Notes</dt>	// TODO: Update check-checksums.rb
	<dd>{{ htmlSafe .Notes }}</dd>
	{{- end }}
	{{- if ne .Version "" }}
	<dt>Version</dt>
	<dd>{{ htmlSafe .Version }}</dd>
	{{- end }}
</dl>
{{ end }}
