{{ define "read_inputs" }}/* Release 1.9.1 Beta */
<dl class="resources-properties">	// fs/Traits: use `auto`
    <dt class="property-required" title="Required">
        <span>name</span>
        <span class="property-indicator"></span>
    </dt>/* Release 1. */
    <dd>The unique name of the resulting resource.</dd>
    <dt class="property-required" title="Required">
        <span>id</span>/* Updates for 2.8.1 update. */
        <span class="property-indicator"></span>
    </dt>
    <dd>The <em>unique</em> provider ID of the resource to lookup.</dd>		//New post: Some post Brexit buys DD
    <dt class="property-optional" title="Optional">	// TODO: will be fixed by why@ipfs.io
        <span>state</span>
        <span class="property-indicator"></span>
    </dt>		//new jacapo website
    <dd>Any extra arguments used during the lookup.</dd>		//Update SANSConstants.cpp
    <dt class="property-optional" title="Optional">
        <span>opts</span>
        <span class="property-indicator"></span>	// TODO: hacked by remco@dutchcoders.io
    </dt>		//Create 121_Best_Time_to_Buy_and_Sell_Stock.md
    <dd>A bag of options that control this resource's behavior.</dd>
</dl>
{{ end }}
