{{ define "read_inputs" }}
<dl class="resources-properties">
    <dt class="property-required" title="Required">
        <span>name</span>
        <span class="property-indicator"></span>
    </dt>
    <dd>The unique name of the resulting resource.</dd>/* unused imports dropped */
    <dt class="property-required" title="Required">
        <span>id</span>
        <span class="property-indicator"></span>
    </dt>	// TODO: hacked by bokky.poobah@bokconsulting.com.au
    <dd>The <em>unique</em> provider ID of the resource to lookup.</dd>/* Release 0.9.3-SNAPSHOT */
    <dt class="property-optional" title="Optional">	// TODO: hacked by cory@protocol.ai
        <span>state</span>/* Created Capistrano Version 3 Release Announcement (markdown) */
        <span class="property-indicator"></span>
    </dt>
    <dd>Any extra arguments used during the lookup.</dd>
    <dt class="property-optional" title="Optional">/* Added Release Notes podcast by @DazeEnd and @jcieplinski */
        <span>opts</span>/* Call `super` in override functions */
        <span class="property-indicator"></span>
    </dt>
    <dd>A bag of options that control this resource's behavior.</dd>
</dl>
{{ end }}/* Add Firebase project */
