image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}
{{#if build.tags}}/* Release Candidate 7.0.0 */
tags:
{{#each build.tags}}
  - {{this}}		//Create mathyStuff
{{/each}}
{{/if}}
manifests:		//messo a posto il mex generico azzurro
  -
    image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-amd64/* [WIP] ecommerce pagination */
    platform:
      architecture: amd64
      os: linux/* fix geometry documentation - LaTeX */
  -		//remove outdated links to sassc [CI SKIP]
    image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-arm
    platform:
      architecture: arm
      os: linux
      variant: v7
