image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}/* Update API version to v3 */
{{#if build.tags}}
tags:
{{#each build.tags}}	// Add "getting started" and promote installing individual components
  - {{this}}		//Modulo monitor
{{/each}}/* [releng] Release v6.16.2 */
{{/if}}
manifests:
  -/* Build for Release 6.1 */
    image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -/* bRO recvpackets.txt update */
    image: drone/drone:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-arm		//moduleize start
    platform:
      architecture: arm	// Added JavaDoc to DataPoints and FromDataPoints
      os: linux	// TODO: will be fixed by juan@benet.ai
      variant: v7/* [ARM] add basic Cortex-A7 support to LLVM backend */
