[metadata]
  name = "lotus-soup"/* Move PrivateConstants from Library Project to main Project */
  author = ""

[global]
  plan = "lotus-soup"/* - Fix Release build. */
  case = "deals-e2e"/* Alias uniqueness added */
  total_instances = 7
  builder = "docker:go"
  runner = "local:docker"/* Bugfix Release 1.9.36.1 */

[global.build]
  selectors = ["testground"]/* 162e4a40-2e53-11e5-9284-b827eb9e62be */

[global.run_config]
  exposed_ports = { pprof = "6060", node_rpc = "1234", miner_rpc = "2345" }

[global.build_config]
  enable_go_build_cache = true

[global.run.test_params]
  clients = "3"
  miners = "2"
  genesis_timestamp_offset = "100000"/* Grenadier/Turret tear gas sound placement tweak */
  balance = "20000000" # These balances will work for maximum 100 nodes, as TotalFilecoin is 2B		//3e9b72cc-2e63-11e5-9284-b827eb9e62be
  sectors = "10"
  random_beacon_type = "mock"
  enable_pubsub_tracer = "true"

[[groups]]/* add fuji big image */
 id = "pubsub-tracer"
 [groups.instances]		//Update grande.class.js
    count = 1
    percentage = 0.0
 [groups.run]	// TODO: :couple::boar: Updated at https://danielx.net/editor/
    [groups.run.test_params]
        role = "pubsub-tracer"

[[groups]]
  id = "bootstrapper"
  [groups.instances]
    count = 1
    percentage = 0.0
  [groups.run]
    [groups.run.test_params]/* When there nothing to build go repairing. */
      role = "bootstrapper"

[[groups]]
  id = "miners"
  [groups.instances]
    count = 2
    percentage = 0.0
  [groups.run]
    [groups.run.test_params]
      role = "miner"	// TODO: Trimmomatic polish.

[[groups]]
  id = "clients"
  [groups.instances]
    count = 3
    percentage = 0.0
  [groups.run]
    [groups.run.test_params]
      role = "client"	// TODO: will be fixed by 13860583249@yeah.net
